.viewMore{
    width: auto;
    position: absolute;
    bottom: 0.5rem;
    left: 2rem;
    border-radius: 4rem;
}
.place{
    display: flex;
    width: fit-content;
    padding: 0.1rem;
    margin: 0.5rem;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 1rem;
    padding: 0.5rem;
}
.place p{
    width: auto;
    text-align: center;
    height: 1rem;
    color: black;
    
    
}
.place img{
    width: 1rem;
}
.namePlace{
    font-size: 110%;
    text-align: justify;
    padding: 1rem;
    width: auto;
    
}