*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
#root {
  min-width: 310px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  width: 20px;
}

main{
  height: auto;
  padding: 2rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


